.visor {
    display: flex;
    align-items: center;
    background-color: var(--cor-display);
    border-radius: 8px 8px 0 0;
    width: 42.3%;
    padding: 20px;
    margin-left: 23rem;
    margin-top: 6rem;
}

.visor_numero {
    color: var(--branco);
    font-size: 38px;
    font-weight: 700;
    margin-left: 32rem;
}
